/*
    To rewrite bulma default color just set variables before importing anything(example below)

    $primary: red;
*/
@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/elements/button.sass';
