/*
    To rewrite bulma default color just set variables before importing anything(example below)

    $primary: red;
*/
@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';

//form 
@import 'bulma/sass/form/shared.sass';
@import 'bulma/sass/form/tools.sass';

//random css
@import 'bulma/sass/elements/other.sass';

//buttons
@import 'bulma/sass/elements/button.sass';


